authoritative;
ddns-update-style interim;
default-lease-time 14400;
max-lease-time 14400;

subnet {{ manager_ip.split('.')[0] + '.' + manager_ip.split('.')[1] + '.' + manager_ip.split('.')[2] }}.0 netmask {{ netmask_long }} {
        option routers                  {{ gateway }};
        option subnet-mask              {{ netmask_long }};
        option domain-search            "{{ dnsearch }}";
        option domain-name-servers      {{ dns1 }},{{ dns2 }};
        option time-offset              -18000;     # Eastern Standard Time
        range {{ ip_range[0] }} {{ ip_range[1] }};
}